# Database Admin 101 - Lab

## Introduction 

In this lab you'll go through the process of designing and creating a database. From there, you'll also begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Create a SQL database
* Create a SQL table
* Create rows in a SQL table
* Alter entries in a SQL table
* Delete entries in a SQL table
* Commit changes via sqlite3

## The Scenario

You are looking to design a database for a school which will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database and record some of your ideas below.

# Your Answer Here

Record some information here about how you would design such a database. What table would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [98]:
import sqlite3

In [99]:
conn = sqlite3.connect('school3.sqlite')
cur = conn.cursor()

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), email, telephone number, street, city, state and zipcode. Be sure to also create a primary key for the table.

In [100]:
cur.execute("""CREATE TABLE contactInfo (
                                    id INTEGER PRIMARY KEY,
                                    firstName TEXT,
                                    lastName TEXT,
                                    role TEXT,
                                    email TEXT,
                                    telephone INTEGER,
                                    street TEXT,
                                    city TEXT,
                                    state TEXT,
                                    zipcode INTEGER
                                 )
            """
           )

In [96]:
cur.execute("""DROP TABLE contactInfo""")

OperationalError: database is locked

In [70]:
names = [description[0] for description in cur.description]

TypeError: 'NoneType' object is not iterable

In [81]:
column_names = list(map(lambda x: x[0], cur.description))

In [82]:
names

['id',
 'firstName',
 'lastName',
 'role',
 'email',
 'telephone',
 'address',
 'city',
 'state',
 'zipcode']

In [62]:
print([column[0] for column in cur.fetchall()])

[]

In [80]:
cur.execute("SELECT * FROM contactInfo")
print(cur.description)

(('id', None, None, None, None, None, None), ('firstName', None, None, None, None, None, None), ('lastName', None, None, None, None, None, None), ('role', None, None, None, None, None, None), ('email', None, None, None, None, None, None), ('telephone', None, None, None, None, None, None), ('address', None, None, None, None, None, None), ('city', None, None, None, None, None, None), ('state', None, None, None, None, None, None), ('zipcode', None, None, None, None, None, None))

In [65]:
cur.execute("ALTER TABLE contactInfo ADD 'telephone' INTEGER")

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [41]:
# Code to load the list of dictionaries; just run this cell

import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [42]:
# Your code to iterate over the contact list and populate the contactInfo table here


print(contacts)
# for contact in contacts
#     for key in contacts.keys()
#         if key = 'telephone '
#             contacts['telephone'] = contacts[0].pop('telephone ')
#         if key = 'zipcode '
#             contacts

[{'firstName': 'Christine', 'lastName': 'Holden', 'role': 'staff', 'telephone ': 2035687697, 'street': '1672 Whitman Court', 'city': 'Stamford', 'state': 'CT', 'zipcode ': '06995'}, {'firstName': 'Christopher', 'lastName': 'Warren', 'role': 'student', 'telephone ': 2175150957, 'street': '1935 University Hill Road', 'city': 'Champaign', 'state': 'IL', 'zipcode ': '61938'}, {'firstName': 'Linda', 'lastName': 'Jacobson', 'role': 'staff', 'telephone ': 4049446441, 'street': '479 Musgrave Street', 'city': 'Atlanta', 'state': 'GA', 'zipcode ': '30303'}, {'firstName': 'Andrew', 'lastName': 'Stepp', 'role': 'student', 'telephone ': 7866419252, 'street': '2981 Lamberts Branch Road', 'city': 'Hialeah', 'state': 'Fl', 'zipcode ': '33012'}, {'firstName': 'Jane', 'lastName': 'Evans', 'role': 'student', 'telephone ': 3259909290, 'street': '1461 Briarhill Lane', 'city': 'Abilene', 'state': 'TX', 'zipcode ': '79602'}, {'firstName': 'Jane', 'lastName': 'Evans', 'role': 'student', 'telephone ': 3259909290, 'street': '1461 Briarhill Lane', 'city': 'Abilene', 'state': 'TX', 'zipcode ': '79602'}, {'firstName': 'Mary', 'lastName': 'Raines', 'role': 'student', 'telephone ': 9075772295, 'street': '3975 Jerry Toth Drive', 'city': 'Ninilchik', 'state': 'AK', 'zipcode ': '99639'}, {'firstName': 'Ed', 'lastName': 'Lyman', 'role': 'student', 'telephone ': 5179695576, 'street': '3478 Be Sreet', 'city': 'Lansing', 'state': 'MI', 'zipcode ': '48933'}]

In [10]:
import string
holding_list = list(string.ascii_lowercase)

In [11]:
foo=[0]*6

In [12]:
del holding_list[len(foo):]

In [13]:
holding_list

['a', 'b', 'c', 'd', 'e', 'f']

In [14]:
[x for x in holding_list]

['a', 'b', 'c', 'd', 'e', 'f']

In [101]:
for index, _dict in enumerate(contacts):
    
    holding_list = []
    #holds a list values for one line of the database
    
    for item in _dict.keys():
            holding_list.append(_dict[item])
                
    print(f'The holding list is length {str(len(holding_list))}')
    print([x for x in holding_list])
    print('The current dictionary is : \n\n')
    print(_dict)
        
    cur.execute('''INSERT INTO contactInfo (id, firstName, lastName, role, email, telephone, street, city, state, zipcode) 

              VALUES ('{}','{}','{}','{}','{}','{}','{}','{}','{}','{}');
        '''.format((index+1), holding_list[0], holding_list[1], holding_list[2],f'{holding_list[0]}.{holding_list[1]}@em.com', holding_list[3], holding_list[4],
                    holding_list[5], holding_list[6], holding_list[7])
       )

The holding list is length 8
['Christine', 'Holden', 'staff', 2035687697, '1672 Whitman Court', 'Stamford', 'CT', '06995']
The current dictionary is :


{'firstName': 'Christine', 'lastName': 'Holden', 'role': 'staff', 'telephone ': 2035687697, 'street': '1672 Whitman Court', 'city': 'Stamford', 'state': 'CT', 'zipcode ': '06995'}
The holding list is length 8
['Christopher', 'Warren', 'student', 2175150957, '1935 University Hill Road', 'Champaign', 'IL', '61938']
The current dictionary is :


{'firstName': 'Christopher', 'lastName': 'Warren', 'role': 'student', 'telephone ': 2175150957, 'street': '1935 University Hill Road', 'city': 'Champaign', 'state': 'IL', 'zipcode ': '61938'}
The holding list is length 8
['Linda', 'Jacobson', 'staff', 4049446441, '479 Musgrave Street', 'Atlanta', 'GA', '30303']
The current dictionary is :


{'firstName': 'Linda', 'lastName': 'Jacobson', 'role': 'staff', 'telephone ': 4049446441, 'street': '479 Musgrave Street', 'city': 'Atlanta', 'state': 'GA', 'zipcode ': '30303'}
The holding list is length 8
['Andrew', 'Stepp', 'student', 7866419252, '2981 Lamberts Branch Road', 'Hialeah', 'Fl', '33012']
The current dictionary is :


{'firstName': 'Andrew', 'lastName': 'Stepp', 'role': 'student', 'telephone ': 7866419252, 'street': '2981 Lamberts Branch Road', 'city': 'Hialeah', 'state': 'Fl', 'zipcode ': '33012'}
The holding list is length 8
['Jane', 'Evans', 'student', 3259909290, '1461 Briarhill Lane', 'Abilene', 'TX', '79602']
The current dictionary is :


{'firstName': 'Jane', 'lastName': 'Evans', 'role': 'student', 'telephone ': 3259909290, 'street': '1461 Briarhill Lane', 'city': 'Abilene', 'state': 'TX', 'zipcode ': '79602'}
The holding list is length 8
['Jane', 'Evans', 'student', 3259909290, '1461 Briarhill Lane', 'Abilene', 'TX', '79602']
The current dictionary is :


{'firstName': 'Jane', 'lastName': 'Evans', 'role': 'student', 'telephone ': 3259909290, 'street': '1461 Briarhill Lane', 'city': 'Abilene', 'state': 'TX', 'zipcode ': '79602'}
The holding list is length 8
['Mary', 'Raines', 'student', 9075772295, '3975 Jerry Toth Drive', 'Ninilchik', 'AK', '99639']
The current dictionary is :


{'firstName': 'Mary', 'lastName': 'Raines', 'role': 'student', 'telephone ': 9075772295, 'street': '3975 Jerry Toth Drive', 'city': 'Ninilchik', 'state': 'AK', 'zipcode ': '99639'}
The holding list is length 8
['Ed', 'Lyman', 'student', 5179695576, '3478 Be Sreet', 'Lansing', 'MI', '48933']
The current dictionary is :


{'firstName': 'Ed', 'lastName': 'Lyman', 'role': 'student', 'telephone ': 5179695576, 'street': '3478 Be Sreet', 'city': 'Lansing', 'state': 'MI', 'zipcode ': '48933'}

In [104]:
import pandas as pd

In [105]:
df = pd.read_sql_query('''Select * from contactInfo''', conn)

In [121]:
df.firstName.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
Name: firstName, dtype: bool

In [122]:
df

,id,firstName,lastName,role,email,telephone,street,city,state,zipcode
0,1,Christine,Holden,staff,Christine.Holden@em.com,2035687697,1672 Whitman Court,Stamford,CT,6995
1,2,Christopher,Warren,student,Christopher.Warren@em.com,2175150957,1935 University Hill Road,Champaign,IL,61938
2,3,Linda,Jacobson,staff,Linda.Jacobson@em.com,4049446441,479 Musgrave Street,Atlanta,GA,30303
3,4,Andrew,Stepp,student,Andrew.Stepp@em.com,7866419252,2981 Lamberts Branch Road,Hialeah,Fl,33012
4,5,Jane,Evans,student,Jane.Evans@em.com,3259909290,1461 Briarhill Lane,Abilene,TX,79602
5,6,Jane,Evans,student,Jane.Evans@em.com,3259909290,1461 Briarhill Lane,Abilene,TX,79602
6,7,Mary,Raines,student,Mary.Raines@em.com,9075772295,3975 Jerry Toth Drive,Ninilchik,AK,99639
7,8,Ed,Lyman,student,Ed.Lyman@em.com,5179695576,3478 Be Sreet,Lansing,MI,48933

In [111]:
# Query the Table to Ensure it is populated
#cur.execute('''Select * from contactInfo''').fetchall()
conn2 = sqlite3.connect('school3.sqlite')
cur2 = conn2.cursor()
cur2.execute("""select * from contactInfo;""").fetchall()

[(1,
  'Christine',
  'Holden',
  'staff',
  'Christine.Holden@em.com',
  2035687697,
  '1672 Whitman Court',
  'Stamford',
  'CT',
  6995),
 (2,
  'Christopher',
  'Warren',
  'student',
  'Christopher.Warren@em.com',
  2175150957,
  '1935 University Hill Road',
  'Champaign',
  'IL',
  61938),
 (3,
  'Linda',
  'Jacobson',
  'staff',
  'Linda.Jacobson@em.com',
  4049446441,
  '479 Musgrave Street',
  'Atlanta',
  'GA',
  30303),
 (4,
  'Andrew',
  'Stepp',
  'student',
  'Andrew.Stepp@em.com',
  7866419252,
  '2981 Lamberts Branch Road',
  'Hialeah',
  'Fl',
  33012),
 (5,
  'Jane',
  'Evans',
  'student',
  'Jane.Evans@em.com',
  3259909290,
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  79602),
 (6,
  'Jane',
  'Evans',
  'student',
  'Jane.Evans@em.com',
  3259909290,
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  79602),
 (7,
  'Mary',
  'Raines',
  'student',
  'Mary.Raines@em.com',
  9075772295,
  '3975 Jerry Toth Drive',
  'Ninilchik',
  'AK',
  99639),
 (8,
  'Ed',
  'Lyman',
  'student',
  'Ed.Lyman@em.com',
  5179695576,
  '3478 Be Sreet',
  'Lansing',
  'MI',
  48933)]

In [110]:
conn.commit()

In [ ]:
cur.execute("""CREATE TABLE contactInfo (
                                    id INTEGER PRIMARY KEY,
                                    firstName TEXT,
                                    lastName TEXT,
                                    role TEXT,
                                    email TEXT,
                                    telephone INTEGER,
                                    street TEXT,
                                    city TEXT,
                                    state TEXT,
                                    zipcode INTEGER
                                 )
            """
           )

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [113]:
cur.execute('''CREATE TABLE grades(
                    userID INTEGER NOT NULL,
                    courseID INTEGER NOT NULL,
                    grade INTEGER,
                    PRIMARY KEY(userID, courseID)
            )''')

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [131]:
#Your code here; find the duplicate entry

cur.execute('''SELECT firstName, lastName, id, count(*) FROM contactInfo group by firstName, lastName''').fetchall()

[('Andrew', 'Stepp', 4, 1),
 ('Christine', 'Holden', 1, 1),
 ('Christopher', 'Warren', 2, 1),
 ('Ed', 'Lyman', 8, 1),
 ('Jane', 'Evans', 5, 1),
 ('Linda', 'Jacobson', 3, 1),
 ('Mary', 'Raines', 7, 1)]

In [130]:
#Your code here; delete the duplicate entry

cur.execute('''DELETE from contactInfo where id = 6''')

## Updating an Address

Ed Lyman just moved to 2910 Simpson Avenue York, PA 17403. Update his address accordingly.

In [132]:
column_names = list(map(lambda x: x[0], cur.description))
column_names

['firstName', 'lastName', 'id', 'count(*)']

In [ ]:
cur.execute('''UPDATE contactInfo 
                  SET  = [new value]
                  WHERE [column name] = [value];
               '''
              )

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [ ]:
#Your code here

## Summary

While there's certainly more to do with setting up and managing this database, you certainly got a taste for creating, populating and maintaining databases! Feel free to continue fleshing out this exercise to continue practicing.